/* 공통 스타일 */
.report-container-country-kkokko {
    display: flex;
    justify-content: space-between; /* 국가와 도시를 양옆에 배치 */
    align-items: flex-start; /* 세로 정렬을 상단에 맞춤 */
    gap: 20px; /* 요소 간 간격 */
    min-height: 70vh; /* 화면 전체 높이를 차지 */
    padding: 20px;
    max-width: 500px; /* 가로 크기 제한 */
    margin: 0 auto;
}

.report-country-group label,
.report-city-container label {
    font-size: 20px;
    margin-top: 120px;
    margin-left: 50px;
}

/* 국가 섹션 스타일 */
.report-country-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%; /* 국가 컨테이너 크기 */
}

.report-country-group select {
    padding: 10px;
    border: 1px solid #ff8600;
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* 도시 섹션 스타일 */
.report-city-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%; /* 도시 컨테이너 크기 */
}

/* 도시 리스트 스타일 */
.report-city-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 도시 아이템 기본 스타일 */
.report-city-item {
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ff8600;
    background-color: white; 
    color: black;
    transition: all 0.3s ease;
}

/* 활성화된 도시 아이템 */
.report-city-item.report-active {
    background-color: #ff8600;
    color: white; /* 활성화 상태에서 텍스트 색상 */
}

/* 다음 페이지 이동 버튼 스타일 */
.report-nextButton {
    padding: 10px 20px;
    background-color: #ff8600;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    /* position: absolute; */
    margin-top: 175px;
    bottom: 20px;
    right: 20px;
}

.report-nextButton:hover {
    background-color: #ffca4c;
}