.travel-plan-create-container {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
	margin-bottom: 50px;
    min-height: 65vh;
}

.travel-plan-create-container h1 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

.travel-plan-create-form {
	min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 가운데 정렬 */
    justify-content: center; /* 수직 가운데 정렬 */
    padding: 20px;
    min-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    line-height: 2;
}

.travel-plan-create-container h2 {
	color: #FF8600;
	font-family:'LINESeedKR-Bd';
}

.travel-plan-create-container label {
	color: #333;
	font-size: 18px;
	font-weight: bold;
}

.travel-plan-create-container input {
	width: 280px;
}

.travel-plan-create-container select, option {
	width: 300px;
}

.travel-plan-reset-button {
	margin: 5px;
    font-size: 14px;
    color: #333;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.travel-plan-reset-button:hover {
	color: #FF8600;
}

.travel-plan-select-info {
	background-color: #FF8600;
	border-radius: 15px;
	padding: 5px 20px;
	color: #fff;
	font-family:'LINESeedKR-Bd';
	text-align: left;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.travel-plan-select-info p {
	font-size: 18px;
	line-height: 1.6;
}

.travel-plan-create-buttons {
	display: flex;
    justify-content: end;
	gap: 10px;
    margin-top: 20px;
    width: 640px;
}

.travel-plan-create-save-button,
.travel-plan-create-cancel-button {
	padding: 10px 20px;
    font-size: 16px;
    color: #ff8600;
    background-color: #ffffff;
    border: 1px solid #ff8600;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.travel-plan-create-save-button:hover {
	background-color: #ff8600;
	color: #fff;
}

.travel-plan-create-cancel-button:hover {
	background-color: #999;
	color: #fff;
	border: 1px solid #999;
}