.travel-plan-container {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
	margin-bottom: 50px;
    min-height: 100vh;
}

.travel-plan-container h1 {
	font-size: 30px;
	font-weight: bold;
    margin-bottom: 20px;
}

.travel-plan-list {
    padding:10px;
}

.travel-plan-create-button {
padding: 10px 20px;
    font-size: 16px;
    background-color: #FF8600;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.travel-plan-create-button:hover {
    background-color: #e07500;
}

.travel-plan-item {
    width: 400px;
    min-height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #FF8600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.travel-plan-item:hover {
    transform: scale(1.03); /* 살짝 확대 효과 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* 호버 시 그림자 강조 */
}

.travel-plan-item h2 {
    font-size: 25px;
    font-weight: bold;
    color: #FF8600;
    margin-bottom: 5px;
    margin-left: 15px;
    text-align: center;
}

.travel-plan-item h5 {
    font-size: 16px;
    text-align: center;
}