.free-board-detail-container {
	display: flex;
	flex-direction: column;
    align-items: center;
    margin-top: 120px;
	margin-bottom: 50px;
    min-height: 65vh;
}

.free-board-detail-title {
	color: #333;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
	text-align: center;
}

.free-board-detail-content h1{
	font-size: 30px;
	font-weight: bold;
	color: #FF8600;
}

.free-board-detail-content h3{
	font-size: 18px;
	color: #333
}

.fb-detail-in-container {
	width: 100%;
    min-width: 800px; /* 적당한 크기로 제한 */
    margin: 0px auto 40px; /* 화면 중앙 정렬 및 상단 여백 */
    padding: 30px;
    background: #f9f9f9; /* 밝은 배경 */
    border-radius: 15px; /* 둥근 모서리 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
}

.fb-detail-in-text {
	min-height: 200px;
	background-color: white;
	margin-top: 20px;
	padding: 20px;
	border-radius: 15px; /* 둥근 모서리 */
}

.fb-button-container {
	display: flex;
    justify-content: end;
	padding: 20px;
	gap: 10px;
}

.fb-detail-update-button,
.fb-detail-back-button {
	padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.fb-detail-update-button {
	background-color: #FF8600;
}

.fb-detail-update-button:hover {
	background-color: #e07500;
}

.fb-detail-back-button {
	background-color: gray
}

.fb-detail-back-button:hover {
	background-color: darkgrey
}