.landmarkContainer {
	max-width: 1500px;
	margin: 0 auto;
	padding: 20px;
	font-family: 'Pretendard-Regular';
	color: #333;
	justify-content: center;
}

.landmarkContainer h1 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.landmarkContainer p {
	margin: 10px 0;
}

/* .landmarkPhoto {
	/* position: relative; 
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
} */

.landmarkPhoto img {
	max-width: 100%;
	max-height: 400px;
	border-radius: 8px;
}

.landmarkPrevButton,
.landmarkNextButton {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	background-color: #FF8600;
	color: #fff;
	border: none;
	font-size: 2rem;
	padding: 10px;
	cursor: pointer;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 5px;
	padding: 10px 20px;
}

.landmarkPrevButton {
	left: 10px;
}

.landmarkNextButton {
	right: 10px;
}

.landmarkPrevButton:hover {
	background-color: #e07500;
}

.landmarkNextButton:hover {
	background-color: #e07500;
}

.landmarkReviewList {
	padding: 0;
	list-style-type: none;
	margin: 0;
}

.landmarkReviewItem {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.landmarkReviewItem:last-child {
	border-bottom: none;
}

.landmarkProfilePhoto {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-top: 10px;
}

.landmarkBackButton {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #FF8600;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.landmarkBackButton:hover {
	background-color: #e07500;
}
