.DestinaitonCardContainer {
	margin-top: 100px;
	margin-bottom: 150px;
    display: flex;
    gap: 20px;
    font-family: 'Pretendard-Regular';
    transition: transform 0.5s ease-in-out; /* 부드럽게 이동 */
	width: 100%;
    overflow: visible;
}

.DestnationCard {
    flex: 0 0 calc(300px - 18px); /* 각 카드의 고정 크기 */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    background-color: #fff;
}

.DestnationCard img {
    max-width: 100%;
    border-radius: 8px;
    height: 300px;
    object-fit: cover;
}

.DestnationCard h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.DestnationCard p {
    color: #555;
}

/* 화살표 버튼 스타일 */
.arrowButtonLeft,
.arrowButtonRight {
    position: absolute;
	background: rgba(0, 0, 0, 0.5);
	background-color: #FF8600;
	color: #fff;
	border: none;
	font-size: 2rem;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 5px;
	padding: 10px 20px;
    z-index: 2;
    visibility: visible;
}

.arrowButtonLeft {
    left: 10px;
}

.arrowButtonRight {
    right: 22px;
}

.arrowButtonLeft:hover {
    background-color: #e07500;
}

.arrowButtonRight:hover {
    background-color: #e07500;
}