.backgroundDiv {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/public/images/main/main_bg.png'); /* 배경 이미지 경로 */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* 흰색 반투명 오버레이 */
    z-index: 0;
}

.DestinaitonCardContainer {
	margin-top: 100px;
	margin-bottom: 100px;
    display: flex;
    gap: 20px;
    font-family: 'Pretendard-Regular';
    transition: transform 0.5s ease-in-out; /* 부드럽게 이동 */
	width: 100%;
}

.DestnationCard {
    flex: 0 0 calc(300px - 18px); /* 각 카드의 고정 크기 */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    background-color: #fff;
}

.DestnationCard img {
    max-width: 100%;
    border-radius: 8px;
    height: 300px;
    object-fit: cover;
}

.DestnationCard h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.DestnationCard p {
    color: #555;
}

/* 화살표 버튼 스타일 */
.arrowButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}

.arrowButtonLeft {
    left: 10px;
}

.arrowButtonRight {
    right: 10px;
}