.container {
	margin: 20px;
	padding: 20px;
	font-family: Arial, sans-serif;
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 10px;
}

h2 {
	font-size: 2rem;
	margin-top: 30px;
}

/* Photo Carousel */
.carouselContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 600px; /* 사진 영역 크기 조정 */
    margin: 0 auto; /* 중앙 정렬 */
}

.carouselImages {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carouselImagesImg {
    width: 100%, auto; /* 한 번에 한 장씩만 표시 */
    height: 300px;
}

.arrowButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.arrowButtonLeft {
    left: 10px;
}

.arrowButtonRight {
    right: 10px;
}

/* Landmarks Section */
.landmarksContainer {
    margin-top: 20px;
}

.landmarkCard {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.landmarkCardImg {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
}

.landmarkCardH3 {
    font-size: 1.2rem;
    margin: 0;
}

.landmarkCardP {
    margin: 0;
    font-size: 0.9rem;
    color: #555;
}
