.HeaderWrap {
	position:sticky;
	display: flex;
	width:100%;
	top: 0;
	left: 0;
	justify-content: space-between;
	align-items: center;
	background: #ffffff;
	padding:0 50px; 
	box-sizing: border-box;
}

.HeaderWrap .logo img {
	width:130px;
}

.navMenu{
	display: flex;
}

.navMenu .navItem a{
	display: block;
	font-size: 20px;
	font-family: 'nanumfont';
	font-weight: bold;
	padding: 30px 30px;
}

.navMenu .navItem {
	position: relative;
}

.navMenu .navItem .dropdownMenu {
	position: absolute;
	top:100%;
	left:0;
	/* min-width: 100px; */
	background: #ff880018;
	border-radius: 10px;
}

.navMenu .navItem .dropdownMenu > li > a {
	display: block;
	font-size:18px;
	padding:10px 0;
	min-width:160px;
	text-align: center;
}

.headerRight {
	display: flex;
	align-items: center;
	gap:10px;
}

/* 드롭다운 메뉴 */
ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    /* position: absolute; 부모 바로 아래 배치 */
    z-index: 100;
}

/* 드롭다운 메뉴 항목 */
ul li {
    padding: 10px 20px;
    text-align: left;
}

ul li a {
    text-decoration: none;
    color: #333;
}

ul li a:hover {
    color: #FF8600; /* 포인트 컬러 */
    font-weight: bold;
}

.hamburgerBtn {
    background: none;
    border: none;
    cursor: pointer;
}

.hamburgerDropdown {
    position: fixed; /* 화면 전체에 고정 */
    top: 100px; /* 헤더 바로 아래로 위치 */
    right: 0;
    height: calc(100vh - 100px); /* 화면 높이에서 헤더 높이만큼 뺀 값 */
    width: 300px; /* 드롭다운 너비 */
    background-color: rgba(255, 255, 255, 0.95); /* 약간 투명한 흰색 배경 */
    border-left: 1px solid #ddd; /* 왼쪽 경계선 */
    list-style: none;
    padding: 20px;
    z-index: 1000; /* 드롭다운이 다른 요소들 위에 표시되게 */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* 약간의 그림자 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 표시 */
}

.hamburgerDropdown button {
    width: 100%; /* 버튼이 드롭다운 너비를 가득 채움 */
    padding: 35px; /* 버튼 내부 여백 */
    font-size: 20px; /* 글자 크기 */
    /* border: 1px solid #ddd; 버튼 경계선 */
    border-radius: 8px; /* 버튼 모서리 둥글게 */
    background-color: #ffffff; /* 버튼 배경색 */
    cursor: pointer; /* 버튼 위에 마우스 커서 변경 */
    transition: background-color 0.3s ease; /* 배경색 전환 애니메이션 */
}

.hamburgerDropdown button:hover {
    background-color: #e0e0e0; /* 마우스 오버 시 배경색 */
}

