.HeaderWrap {
	/* position:fixed; */
	display: flex;
	width:100%;
	/* top: 0;
	left: 0; */
	justify-content: space-between;
	align-items: center;
	background: rgba(255, 255, 255, .2);
	padding:0 50px; 
	box-sizing: border-box;
}

.HeaderWrap .logo img {
	width:130px;
}

.navMenu{
	display: flex;
}

.navMenu .navItem a{
	display: block;
	font-size: 20px;
	font-family: 'nanumfont';
	font-weight: bold;
	padding: 30px 30px;
}

.navMenu .navItem {
	position: relative;
}

.navMenu .navItem .dropdownMenu {
	position: absolute;
	top:100%;
	left:0;
	/* min-width: 100px; */
	background: #ff880018;
	border-radius: 10px;
}

.navMenu .navItem .dropdownMenu > li > a {
	display: block;
	font-size:18px;
	padding:10px 0;
	min-width:160px;
	text-align: center;
}

.headerRight {
	display: flex;
	align-items: center;
	gap:10px;
}

/* 드롭다운 메뉴 */
ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    /* position: absolute; 부모 바로 아래 배치 */
    z-index: 100;
}

/* 드롭다운 메뉴 항목 */
ul li {
    padding: 10px 20px;
    text-align: left;
}

ul li a {
    text-decoration: none;
    color: #333;
}

ul li a:hover {
    color: #FF8600; /* 포인트 컬러 */
    font-weight: bold;
}





