.mate-create-container {
	width: 80%;
    max-width: 900px; /* 최대 너비 */
    margin: 40px auto; /* 화면 중앙 정렬 */
	margin-top: 120px;
}

.mate-create-title {
	font-size: 30px;
	font-weight: bold;
	color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.mate-create-form {
	width: 100%;
    max-width: 800px; /* 적당한 크기로 제한 */
    margin: 0px auto 40px; /* 화면 중앙 정렬 및 상단 여백 */
    padding: 30px;
    background: #f9f9f9; /* 밝은 배경 */
    border-radius: 15px; /* 둥근 모서리 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
}

.mate-create-button-container {
	display: flex;
    justify-content: end;
	padding: 20px;
	gap: 10px;
}

.mate-create-save-button,
.mate-create-cancel-button {
	padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.mate-create-save-button {
	background-color: #FF8600;
}

.mate-create-cancel-button {
	background-color: gray
}

.mate-create-label {
	font-size: 18px;
	font-weight: bold;
	color: #FF8600;
	margin: 10px;
}

.mate-create-title-input {
	width: 90%;
	border-radius: 15px;
	padding: 10px;
    box-sizing: border-box; /* 패딩을 포함한 크기 설정 */
	margin-bottom: 20px;
}

.mate-create-content-input {
    width: 90%;
    min-height: 200px;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box; /* 패딩을 포함한 크기 설정 */
    text-align: left; /* 텍스트 정렬을 왼쪽으로 */
    vertical-align: top; /* 수직 정렬을 위쪽으로 */
    resize: none; /* 크기 조정 방지 (선택 사항) */
	margin-bottom: 20px;
}

.mate-create-people-input {
	width: 15%;
	border-radius: 15px;
	padding: 10px;
	color: #333;
	margin-bottom: 20px;
}