.exchange-h1 {
	font-size: 30px;
	color: #333;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}

.exchange-h2 {
	font-size: 25px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}

.exchange-rate-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	color: #333;
	/* padding: 20px; */
	margin-top: 120px;
	margin-bottom: 50px;
	min-height: 65vh;
}

.exchange-rate-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
}

.exchange-rate-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 10px;
	flex: 1;
	
}

.exchange-rate-card {
	background: white;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
}

.exchange-rate-card h3 {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
	color: #333;
}

.exchange-rate-card h3 span {
	font-size: 14px;
	font-weight: 400;
	color: #666;
	margin-left: 5px;
}

.exchange-rate-card p {
	font-size: 20px;
	font-weight: bold;
	color: #ff8600;
}

.exchange-rate-calculator {
	flex: 1;
	background: #FF8600;
	border-radius: 10px;
	padding: 30px;
	max-width: 300px; /* 폭 좁게 설정 */
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 10px;
	}

.calculator-inputs {
	display: flex;
	flex-direction: column;
	gap: 20px; /* 입력 필드 사이 간격 */
	width: 100%;
}

.calculator-inputs select,
.calculator-inputs input {
	font-size: 18px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	}

.result {
	font-size: 1.5rem;
	font-weight: bold;
	color: #ffffff;
	margin-top: 2px;
	margin-bottom: 5px;
	text-align: center;
	}

.convert-button {
	background-color: #ffffff;
	color: #FF8600;
	font-size: 1.2rem;
	border: none;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	width: 100%;
	cursor: pointer;
	transition: background-color 0.3s;
	}

.convert-button:hover {
	background-color: #ff8600;
	color: #fff;
}